    /*----------------------------*/ 
    .label
    {
      width: 130px;
      display: inline-block;
      /*This Allows to align the label*/
    }
   
    .error 
    {
      color: #FF0000;
    }
    .max_size1 
    { 
      max-width: 400px;
      padding:10px;
      width:850px;
      margin-right: 250px;
      /*overflow: auto;*/
    }
     /*------------Registration.php----------------*/
    .div1
    {
      padding:50px 300px 50px 110px;
      /*padding: top right bottom left*/
    }

    .fieldset
    {
      width:750px;height: 780px;
    }
    .Padding5
    {
      padding:5px;
    }
    .Padding135
    {
      padding-left: 135px;
    }
     /*----------------------------*/
 /*---------Registration_final.php-------------------*/
  .x
  { 
      padding-left: 10px;
      padding-right: 20px;
      padding-bottom: 665px;
      background-color: #4CAF50;
  }
  .y
  {
      padding-bottom: 280px;
      padding-left: 10px;
      padding-left: 50px;
      height: 800px;
      padding-bottom: 100px;
      
  }
   /*----------------------------*/
/*----------------------Login_final.php-------------------------*/
  .LoginFinal
  { 
      padding-left: 10px;
      padding-right: 20px;
      background-color: #4CAF50;
      padding-bottom: 150px;
  }
  .LoginFinal2
  {
      padding-left: 50px;
      height: 200px;
      padding-bottom: 100px;
  }
  /*----------------------------*/

  .blue
  {
    color: blue;
  }
  .width
  {
    width: 290px;
  }
 /*---------Welcome.php-------------------*/
  .welcome1
  {
    /*border-right:  1px solid green;*/
      padding-left: 10px;
      padding-right: 20px;
      padding-bottom: 100px;
      background-color: #4CAF50;
  }
  .welcome2
  {
      padding-left: 60px;
      height: 200px;
      padding-bottom: 100px;
      margin-top: 0px; 
      font-size: 120%
  }
  .message
  {
    padding-top: 100px;
    height: 30px;
    color: #0400ff;
  }

  .button 
  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 
  {
    background-color: white; 
    color: black;  
  }
  .button1:hover 
  {
    background-color: #4CAF50;
    color: white;
  }
  .button2 
  {
    background-color: white; 
    color: black; 
  }
  .button2:hover 
  {
    background-color: #008CBA;
    color: white;
  }
  /*----------------------------*/
  /*-------------Referance.php---------------*/
  .black
  {
    color: black;
    text-decoration:none;
  }
  /*----------------------------*/
